.Section2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 100%;
    padding: 60px 0px;
    gap: 30px;
    margin-top: -30px;

    background-color: #ffeed9;
    /* border: 5px red solid; */
}

.Section2-titulo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

    /* border: 5px red solid; */

    & h3 {
        font-size: 30px;
        color: #2e595f;
    }

    & h5 {
        font-size: 20px;
        width: 80vw;
        max-width: 450px;
        font-weight: 600;
        color: #2e595f;
    }
}

.Section2-texto {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: start;
    gap: 20px;

    padding: 30px 40px;
    border-radius: 30px;
    box-shadow: 1px 2px 4px 1px #ffa83e;
    background-color: #fdfbf8;

    & p {
        width: 50vw;
        max-width: 850px;
        font-size: 18px;
    }
}