.section1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    

    width: 100%;

    position: relative;
    z-index: 0;
    margin-top: -25px;

    & .section1-bannerDesktop {
        width: 100%;
    }

    & .section1-bannerMobile {
        display: none;
        height: 320px;
        border-radius: 10px;
        box-shadow: 2px 2px 10px #00000062;
        position: relative;
        z-index: 2;
    }
}

.section1-aba-ingressos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: auto;
    padding: 25px 0px;
    background-color: #fdc55e;
    /* box-shadow: 0px 0px 12px #0000003c; */
    border-radius: 20px;

    position: relative;
    z-index: 0;
    margin-top: -15px;

    & h1 {
        color: #8c182c;
        font-size: 32px;
        font-weight: 800;

        margin-bottom: 6px;
    }

    & h2 {
        color: #8c182c;
        font-size: 24px;
        font-weight: 700;

        margin-bottom: 20px;
    }

    & button {
        color: #fffdfe;
        font-size: 24px;
        font-weight: 700;

        background-color: #8c182c;
        padding: 14px 20px;
        border-radius: 20px;
        transition: all ease 0.3s;
        cursor: pointer;
    }

    & button:hover {
        color: #8c182c;
        font-size: 24px;
        font-weight: 700;

        background-color: #fffdfe;
        padding: 14px 20px;
        border-radius: 20px;
    }
}

.section1-bannerMobile {
    display: flex;
}

@media (max-width : 800px) {
    .section1 {
        margin-top: 0px;
        background-color: #fdc55e;

        & .section1-bannerDesktop {
            display: none;
        }

        & .section1-bannerMobile {
            display: flex;
            width: 80vw;
            max-width: 350px;
            height: auto;
        }
    }

    .section1-aba-ingressos {
        height: auto;
        padding: 25px 0px;

        position: relative;
        z-index: 1;
        margin-top: 0px;
        text-align: center;

        & h1 {
            color: #8c182c;
            font-size: 22px;
            font-weight: 800;

            margin-bottom: 6px;
        }

        & h2 {
            color: #8c182c;
            font-size: 18px;
            font-weight: 700;

            margin-bottom: 20px;
        }

        & button {
            color: #fffdfe;
            font-size: 20px;
            font-weight: 700;

            background-color: #8c182c;
            padding: 14px 20px;
            border-radius: 20px;
            transition: all ease 0.3s;
            cursor: pointer;
        }

        & button:hover {
            color: #8c182c;
            font-size: 24px;
            font-weight: 700;

            background-color: #fffdfe;
            padding: 14px 20px;
            border-radius: 20px;
        }
    }
}