.Section3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 100%;
    padding: 0px 0px 30px 0px;

    & img {
        width: 55vw;
    }
}

.Section3-titulo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

    margin-top: 30px;
    gap: 5px;

    & h3 {
        font-size: 30px;
        color: #2e595f;
    }

    & h5 {
        font-size: 20px;
        width: 80vw;
        max-width: 450px;
        font-weight: 600;
        color: #2e595f;
    }
}

.Section3-todas-datas {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    gap: 30px;
    margin-top: 30px;
}

.Section3-data {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    text-align: center;

    box-shadow: 1px 2px 4px 1px #ffa83e;
    background-color: #fdfbf8;
    border-radius: 20px;
    padding: 25px 15px;

    & h6 {
        margin-top: 5px;
        font-size: 16px;
    }

    & p {
        margin-top: 10px;
        width: 250px;
    }
}

@media (max-width : 800px) {
    .Section3-todas-datas {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        gap: 30px;
        margin-top: 30px;
    }
}