.Section4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 100%;
    margin-top: 18px;
    margin-bottom: 40px;
}

.Section4-itens {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    width: 80vw;
    max-width: 840px;
    border-radius: 10px;
    padding: 30px 40px;
    gap: 50px;
    background-color: #830425;

    & img {
        height: 260px;
    }
}

.Section4-itens-texto {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    height: 250px;
    & h4 {
        font-size: 24px;
        width: 250px;
        text-align: center;
        color: #fce7cc;
    }

    & p {
        width: 220px;
        font-size: 18px;
        text-align: center;
        color: #fce7cc;
    }

    & button {
        width: 220px;
        height: 50px;
        font-size: 20px;
        font-weight: 700;
        background-color: #3798a1;
        color: #fce7cc;
        border-radius: 10px;
        transition: all 0.5s ease;
    }

    & button:hover {
        cursor: pointer;
        width: 240px;
        height: 60px;
        font-size: 22px;
        background-color: #fce7cc;
        color: #830425;
        text-decoration: underline;
        text-decoration-color: #830425;
        text-decoration-thickness: 2px;
    }
}

@media (max-width : 800px) {
    .Section4-itens {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}