.Section5 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding: 50px 0px;
    margin-bottom: 30px;
}

.Section5-aba {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 90%;
    max-width: 1200px;
    height: 100px;
    border-radius: 20px;
    background-color: #2f5558;
    margin-bottom: 60px;
    box-shadow: 2px 2px 10px #00767f7b;

    & h3 {
        color: #e5fcff;
        font-size: 30px;
    }
}

.Section5-keynotescards {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    gap: 60px;
}