.Section10 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding: 50px 0px 10px 0px;

    & .Section10_divisao {
        margin-top: 80px;
        width: 55vw;
    }
}

.Section10_texto {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;

    width: 80vw;
    max-width: 800px;
    height: auto;
    padding: 40px 0px;
    border-radius: 20px;

    box-shadow: -10px 10px 0px 8px #830425;

    background-color: aliceblue;

    & img {
        width: 70vw;
        max-width: 660px;
        border-radius: 15px;
    }
}

.Section10_texto_titulo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    & h4 {
        font-size: 34px;
        font-weight: 700;
        margin-bottom: 20px;
        width: 70vw;
        max-width: 372px;
        text-align: center;
    }

    & h5 {
        text-align: center;
        font-size: 20px;
        width: 500px;
        margin-bottom: 10px;
        width: 70vw;
        max-width: 500px;
    }
}

.Section10_texto_completo {
    display: flex;
    flex-direction: column;
    gap: 10px;

    & p {
        width: 60vw;
        max-width: 700px;
    }
}

@media (max-width : 1000px) {
    .Section10_texto {
        width: 85vw;
        max-width: 800px;
        padding: 40px 0px;

        box-shadow: -6px 6px 0px 4px #830425;
    }
}

@media (max-width : 600px) {
    .Section10_texto_titulo {
        & h4 {
            font-size: 26px;
        }

        & h5 {
            font-size: 18px;
        }
    }
}