.Section6 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding: 50px 0px;
    width: 100%;
    height: auto;
}

.Section6-aba {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 90%;
    max-width: 1200px;
    height: 100px;
    border-radius: 20px;
    background-color: #2f5558;
    margin-bottom: 60px;
    box-shadow: 2px 2px 10px #00767f7b;

    & h3 {
        color: #e5fcff;
        font-size: 30px;
    }
}

.Section6-PalestranteCard {
    display: flex;
    flex-wrap: wrap;
    align-items: start;
    justify-content: center;
    width: 80%;
    max-width: 1000px;
    gap: 60px;
}

.palestrante-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 450px;
    /* height: 750px; */
    padding: 20px 0px;
    gap: 20px;

    background-color: #afe1e7;
    border-radius: 20px;
    box-shadow: -13px 6px 0px 0px #820525;

    & img {
        width: 350px;
        height: 350px;
        object-fit: cover;
        border-radius: 100%;
        box-shadow: 0px 0px 0px 5px #820525;
    }

    & h2 {
        width: 300px;
        color: rgb(0, 47, 70);
        font-size: 26px;
        text-align: center;
    }

    & h4 {
        width: 250px;
        color: rgb(0, 47, 70);
        font-size: 26px;
        text-align: center;
    }

    & p {
        text-align: start;
        font-size: 18px;
        width: 400px;
    }
}

@media (max-width : 600px) {
    .palestrante-item {
        width: 300px;
        /* height: 750px; */
        padding: 20px 0px;
        gap: 20px;
        
        background-color: #afe1e7;
        border-radius: 20px;
        box-shadow: -10px 10px 0px 0px #820525;
        
        & img {
            width: 220px;
            height: 220px;
            box-shadow: 0px 0px 0px 3px #820525;
        }
    
        & h2 {
            width: 260px;
            font-size: 22px;
        }
    
        & h4 {
            width: 220px;
            font-size: 20px;
        }
    
        & p {
            text-align: start;
            font-size: 18px;
            width: 240px;
        }
    }
}