.Footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;

    height: auto;
    width: 100%;
    padding: 50px 0px 0px 0px;
    margin-top: 50px;

    background-color: #820525;
    border-radius: 40px 40px 0px 0px;
}

.Footer_section1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    width: 80%;
    max-width: 900px;
}

.Footer_section1_redes {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 15px;

    & a {
        color: aliceblue;
    }
}

.Footer_section1_redes_item {
    display: flex;
    flex-direction: row;
    align-items: end;

    & img {
        height: 25px;
        width: 25px;
        margin-right: 5px;
    }
}

.Footer_section1_rotas {
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: center;
    gap: 5px;

    & a {
        color: aliceblue;
    }
}

.Footer_section2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    height: auto;
    width: 100%;
    padding: 50px 0px 50px 0px;
    background-color: #fdc55e;
    margin-top: 20px;

    & p {
        font-size: 20px;
        font-weight: 700;
        width: 80%;
        max-width: 900px;
        text-align: center;
        color: #500417;
    }
}

@media (max-width: 550px) {
    .Footer_section1 {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 30px;
    }

    .Footer_section1_redes {
        align-items: center;
    }

    .Footer_section1_rotas {
        align-items: center;
        gap: 10px;
    }
}