.keynote {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 800px;
    gap: 30px;
    padding: 20px 0px;

    background-color: #afe1e7;
    border-radius: 20px;
    box-shadow: -15px 15px 0px 0px #820525;
}

.keynote-primeira-linha {
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: center;

    width: 750px;
    gap: 40px;

    & img {
        width: 350px;
        height: 350px;
        border-radius: 20px;
    }
}

.keynote-primeira-linha-nome {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;

    text-align: start;
    

    & h4 {
        font-size: 20px;
    }
}

.keynote-segunda-linha {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    width: 500px;
}

.keynote-segunda-linha-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    & img {
        margin-right: 10px;
        height: 18px;
    }

    & a {
        font-size: 18px;
        color: black;
    }
}

@media (max-width : 800px) {
    .keynote {
        width: 70vw;
        max-width: 800px;
    }

    .keynote-primeira-linha {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        width: 80vw;
        max-width: 750px;
        gap: 20px;

        & img {
            width: 60vw;
            max-width: 350px;
            height: auto;
            border-radius: 20px;
        }
    }

    .keynote-primeira-linha-nome {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
        margin-top: 20px;
        width: 60vw;

        text-align: start;

        & h4 {
            font-size: 20px;
        }
    }

    .keynote-segunda-linha {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;

        width: 60vw;
        height: 120px;
    }
}