* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  /* background-color: black; */
}

body , html {
  background-color: #ffeed9;
}

button {
  border: none;
}

a {
  text-decoration: none;
  color: inherit;
}